nbsphinx
#nbsphinx_link
#sphinx_book_theme
#sphinx-autodoc2
pyvista
joblib
sphinx_design
sphinx-autodoc-annotation
sphinx_last_updated_by_git
sphinx_gallery==v0.13.0
sphinx-autodoc-typehints>=1.10.3
sphinxcontrib-bibtex>=2.2.0
sphinxcontrib-spelling
sphinx-autodoc-typehints
gitpython
ipython
ipywidgets>=8.0.0
Jinja2>=3.1.1
nbconvert>=6.4.5
# very slow build
pyenchant>=3.1.1
cooler
matplotlib
pandas
seaborn
jupytext
sphinx_codeautolink
google-api-python-client>=2.34.0
#insipid_sphinx_theme
pydata_sphinx_theme
jupyterlite_sphinx
#typing
#weakref
#functools


