nbsphinx
nbsphinx_link
sphinx_links
sphinx_book_theme
sphinx-autodoc2
sphinx-autodoc-annotation
sphinx_last_updated_by_git
sphinx_gallery>=0.8.2,<0.11
sphinx-autodoc-typehints>=1.10.3
sphinxcontrib-bibtex>=2.2.0
sphinxcontrib-spelling
sphinx-autodoc-typehints
