nbsphinx
#nbsphinx_link
sphinx_book_theme
#sphinx-autodoc2
sphinx-autodoc-annotation
sphinx_last_updated_by_git
sphinx_gallery>=0.8.2,<0.11
sphinx-autodoc-typehints>=1.10.3
sphinxcontrib-bibtex>=2.2.0
sphinxcontrib-spelling
sphinx-autodoc-typehints
gitpython
ipython
ipywidgets>=8.0.0
Jinja2>=3.1.1
nbconvert>=6.4.5
# very slow build
pyenchant>=3.1.1
cooler

